In [18]:
from demographics import (
    population,
    cpi,
    grdp,
    languages,
    population,
    transportation
)

from poverty import (
    income_gap,
    magnitude_poor_family,
    magnitude_poor_pop,
    magnitude_subsistence_poor_family,
    magnitude_subsistence_poor_pop,
    poverty_incidence_threshold_family,
    poverty_incidence_threshold_pop,
    severity_poverty,
    food_threshold_subsistence_family,
    food_threshold_subsistence_pop,
)
import location

#### Non-Numeric Fact Table

In [4]:
location_data = location.get()

c:\Python310\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

#### Demographics Dimension

In [5]:
population_data = population.get(location_data)
display(population_data)

File NCR.xlsx already exists
File CAR.xlsx already exists
File Region%201.xlsx already exists
File Region%202.xlsx already exists
File Region%203.xlsx already exists
File Region%205.xlsx already exists
File %281%29%20Region%206_final.xlsx already exists
File Region%207.xlsx already exists
File Region%208.xlsx already exists
File Region%209.xlsx already exists
File Region%2010.xlsx already exists
File Region%2011.xlsx already exists
File Region%2012.xlsx already exists
File Caraga.xlsx already exists
File BARMM.xlsx already exists
File Region%204A.xlsx already exists
File MIMAROPA.xlsx already exists
Reading file NCR.xlsx
Reading file CAR.xlsx
(Quirino-Magsaysay, Lower) doesn't have a population count.  Removing from the database.
Reading file Region%201.xlsx
Reading file Region%202.xlsx
Reading file Region%203.xlsx
Reading file Region%205.xlsx
Reading file %281%29%20Region%206_final.xlsx
Reading file Region%207.xlsx
Reading file Region%208.xlsx
Reading file Region%209.xlsx
Reading file Region%2010.xlsx
(Don Mariano Marcos) doesn't have a population count.  Removing from the database.
Reading file Region%2011.xlsx
Reading file Region%2012.xlsx
Reading file Caraga.xlsx
Reading file BARMM.xlsx
Reading file Region%204A.xlsx
Reading file MIMAROPA.xlsx

,Province,Municipality,Barangay,2020 Population,combined__cleaned
0,National Capital Region,"TONDO I/II, Manila",Barangay 1,2995,"TONDO I/II, Manila, National Capital Region"
1,National Capital Region,"TONDO I/II, Manila",Barangay 2,1887,"TONDO I/II, Manila, National Capital Region"
2,National Capital Region,"TONDO I/II, Manila",Barangay 3,1341,"TONDO I/II, Manila, National Capital Region"
3,National Capital Region,"TONDO I/II, Manila",Barangay 4,1691,"TONDO I/II, Manila, National Capital Region"
4,National Capital Region,"TONDO I/II, Manila",Barangay 5,1288,"TONDO I/II, Manila, National Capital Region"
...,...,...,...,...,...
42075,Romblon,Santa Maria (Imelda),Concepcion Norte,2852,"Santa Maria (Imelda), Romblon"
42076,Romblon,Santa Maria (Imelda),Concepcion Sur,2328,"Santa Maria (Imelda), Romblon"
42077,Romblon,Santa Maria (Imelda),Paroyhog,725,"Santa Maria (Imelda), Romblon"
42078,Romblon,Santa Maria (Imelda),Santo Niño,1270,"Santa Maria (Imelda), Romblon"
42079,Romblon,Santa Maria (Imelda),San Isidro,570,"Santa Maria (Imelda), Romblon"

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=7014), Label(value='0 / 7014'))), …

In [6]:
cpi_data = cpi.get(location_data)
display(cpi_data)

In [7]:
grdp_data = grdp.get(location_data)
display(grdp_data)

In [8]:
languages_data = languages.get(location_data)
display(languages_data)

In [9]:
transportation_data = transportation.get()
display(transportation_data)

#### Poverty Dimension

In [11]:
income_gap_data = income_gap.get()
display(income_gap_data)

      Geolocation  2015  2018  2021    ADM2_CODE
0    1st District  19.9  18.7   9.1  PH133900000
1    2nd District  15.1  13.7  15.6  PH137600000
2    3rd District  15.7  16.3  13.9  PH137400000
3    4th District  16.2  14.7  15.9  PH137500000
4            Abra  19.6  23.4  19.3  PH140100000
..            ...   ...   ...   ...          ...
82        Basilan  17.6  30.8  26.1  PH150700000
83  Lanao del Sur  32.2  30.3  10.4  PH153600000
84    Maguindanao  27.6  25.1  21.4  PH153800000
85           Sulu  20.9  27.4  24.5  PH156600000
86      Tawi-tawi  11.7  15.8  21.5  PH157000000

[87 rows x 5 columns]

In [15]:
magnitude_poor_family_data = magnitude_poor_family.get()
display(magnitude_poor_family_data)

      Geolocation    2015    2018  2021p    ADM2_CODE
0    1st District   13.63    9.01   5.29  PH133900000
1    2nd District   22.28   16.47  19.79  PH137600000
2    3rd District   24.00   15.11  23.36  PH137400000
3    4th District   26.19    7.00  27.72  PH137500000
4            Abra   12.21    8.19   9.19  PH140100000
..            ...     ...     ...    ...          ...
82        Basilan   14.09   41.98  28.49  PH150700000
83  Lanao del Sur  120.16  109.12  13.25  PH153600000
84    Maguindanao   81.13   84.58  66.43  PH153800000
85           Sulu  107.88  110.00  78.81  PH156600000
86      Tawi-tawi   10.38   10.49  20.17  PH157000000

[87 rows x 5 columns]

In [16]:
magnitude_poor_pop_data = magnitude_poor_pop.get()
display(magnitude_poor_family_data)

      Geolocation    2015    2018  2021p    ADM2_CODE
0    1st District   13.63    9.01   5.29  PH133900000
1    2nd District   22.28   16.47  19.79  PH137600000
2    3rd District   24.00   15.11  23.36  PH137400000
3    4th District   26.19    7.00  27.72  PH137500000
4            Abra   12.21    8.19   9.19  PH140100000
..            ...     ...     ...    ...          ...
82        Basilan   14.09   41.98  28.49  PH150700000
83  Lanao del Sur  120.16  109.12  13.25  PH153600000
84    Maguindanao   81.13   84.58  66.43  PH153800000
85           Sulu  107.88  110.00  78.81  PH156600000
86      Tawi-tawi   10.38   10.49  20.17  PH157000000

[87 rows x 5 columns]

In [19]:
magnitude_subsistence_poor_family_data = magnitude_subsistence_poor_family.get()
display(magnitude_subsistence_poor_family_data)

      Geolocation   2015   2018  2021p    ADM2_CODE
0    1st District   3.32   2.16   0.00  PH133900000
1    2nd District   1.52   2.16   3.18  PH137600000
2    3rd District   3.65   3.29   1.60  PH137400000
3    4th District   3.94   0.46   4.31  PH137500000
4            Abra   3.23   2.44   1.98  PH140100000
..            ...    ...    ...    ...          ...
82        Basilan   3.34  21.60  10.96  PH150700000
83  Lanao del Sur  67.50  52.73   0.46  PH153600000
84    Maguindanao  32.75  31.36  18.48  PH153800000
85           Sulu  24.09  46.04  26.40  PH156600000
86      Tawi-tawi   0.32   1.43   4.59  PH157000000

[87 rows x 5 columns]

In [20]:
magnitude_subsistence_poor_pop = magnitude_subsistence_poor_pop.get()
display(magnitude_subsistence_poor_pop)

      Geolocation    2015    2018   2021p    ADM2_CODE
0    1st District   25.26   12.83    0.00  PH133900000
1    2nd District   15.71   13.54   26.11  PH137600000
2    3rd District   20.29   24.86   12.08  PH137400000
3    4th District   22.84    2.84   25.37  PH137500000
4            Abra   23.18   14.62   13.17  PH140100000
..            ...     ...     ...     ...          ...
82        Basilan   26.94  156.84   94.41  PH150700000
83  Lanao del Sur  500.32  423.22    4.73  PH153600000
84    Maguindanao  239.04  254.74  168.50  PH153800000
85           Sulu  186.41  364.63  225.88  PH156600000
86      Tawi-tawi    2.50   13.62   42.06  PH157000000

[87 rows x 5 columns]

In [21]:
poverty_incidence_threshold_family = poverty_incidence_threshold_family.get()
display(poverty_incidence_threshold_family)

,Geolocation,Poverty Threshold 2015,Poverty Threshold 2018,Poverty Threshold 2021p,Poverty Incidence 2015,Poverty Incidence 2018,Poverty Incidence 2021p,ADM2_CODE
0,1st District,25188,28682,32978,3.6,1.9,1.1,PH133900000
1,2nd District,25188,28682,32978,1.9,1.4,1.6,PH137600000
2,3rd District,25188,28682,32978,3.4,2.2,3.3,PH137400000
3,4th District,25188,28682,32978,3.1,0.7,2.5,PH137500000
4,Abra,21294,23596,29321,19.9,14.7,15.8,PH140100000
...,...,...,...,...,...,...,...,...
82,Basilan,21472,26951,26728,35.6,66.3,42.5,PH150700000
83,Lanao del Sur,24421,29224,29083,72.4,64.2,7.4,PH153600000
84,Maguindanao,20399,25368,25371,45.7,40.6,29.8,PH153800000
85,Sulu,23115,29150,31782,63.8,75.3,51.0,PH156600000
86,Tawi-tawi,17666,21264,26336,15.2,15.1,28.1,PH157000000

In [22]:
poverty_incidence_threshold_pop = poverty_incidence_threshold_pop.get()
display(poverty_incidence_threshold_pop)

,Geolocation,Poverty Threshold 2015,Poverty Threshold 2018,Poverty Threshold 2021p,Poverty Incidence 2015,Poverty Incidence 2018,Poverty Incidence 2021p,ADM2_CODE
0,1st District,25188,28682,32978,5,3,2,PH133900000
1,2nd District,25188,28682,32978,3,2,3,PH137600000
2,3rd District,25188,28682,32978,4,3,5,PH137400000
3,4th District,25188,28682,32978,5,1,4,PH137500000
4,Abra,21294,23596,29321,29,19,22,PH140100000
...,...,...,...,...,...,...,...,...
82,Basilan,21472,26951,26728,45,74,54,PH150700000
83,Lanao del Sur,24421,29224,29083,77,71,11,PH153600000
84,Maguindanao,20399,25368,25371,54,49,38,PH153800000
85,Sulu,23115,29150,31782,69,82,63,PH156600000
86,Tawi-tawi,17666,21264,26336,18,22,37,PH157000000

In [23]:
severity_poverty = severity_poverty.get()
display(severity_poverty)

,Geolocation,Poverty Severity 2015,Poverty Severity 2018,Poverty Severity 2021p,ADM2_CODE
0,1st District,0.3,0.1,0.0,PH133900000
1,2nd District,0.1,0.0,0.1,PH137600000
2,3rd District,0.1,0.1,0.1,PH137400000
3,4th District,0.2,0.0,0.1,PH137500000
4,Abra,1.1,1.1,0.9,PH140100000
...,...,...,...,...,...
82,Basilan,1.6,8.1,4.0,PH150700000
83,Lanao del Sur,9.5,7.8,0.1,PH153600000
84,Maguindanao,4.7,3.7,2.0,PH153800000
85,Sulu,3.7,7.4,4.5,PH156600000
86,Tawi-tawi,0.3,0.6,1.8,PH157000000

In [24]:
food_threshold_subsistence_family = food_threshold_subsistence_family.get()
display(food_threshold_subsistence_family)

,Geolocation,Per Capita Food Threshold 2015,Per Capita Food Threshold 2018,Per Capita Food Threshold 2021p,Subsistence Incidence 2015,Subsistence Incidence 2018,Subsistence Incidence 2021p,ADM2_CODE
0,1st District,17589,20029,23028,0.9,0.5,0.0,PH133900000
1,2nd District,17589,20029,23028,0.1,0.2,0.3,PH137600000
2,3rd District,17589,20029,23028,0.5,0.5,0.2,PH137400000
3,4th District,17589,20029,23028,0.5,0.0,0.4,PH137500000
4,Abra,14870,16488,20475,5.3,4.4,3.4,PH140100000
...,...,...,...,...,...,...,...,...
82,Basilan,15009,18818,18648,8.5,34.1,16.3,PH150700000
83,Lanao del Sur,17041,20396,20379,40.7,31.0,0.3,PH153600000
84,Maguindanao,14276,17739,17710,18.5,15.1,8.3,PH153800000
85,Sulu,16205,20340,22224,14.2,31.5,17.1,PH156600000
86,Tawi-tawi,12289,15028,18399,0.5,2.0,6.4,PH157000000

In [25]:
food_threshold_subsistence_pop = food_threshold_subsistence_pop.get()
display(food_threshold_subsistence_pop)

,Geolocation,Per Capita Food Threshold 2015,Per Capita Food Threshold 2018,Per Capita Food Threshold 2021p,Subsistence Incidence 2015,Subsistence Incidence 2018,Subsistence Incidence 2021p,ADM2_CODE
0,1st District,17589,20029,23028,1.6,0.7,0.0,PH133900000
1,2nd District,17589,20029,23028,0.3,0.3,0.5,PH137600000
2,3rd District,17589,20029,23028,0.7,0.9,0.4,PH137400000
3,4th District,17589,20029,23028,0.6,0.1,0.6,PH137500000
4,Abra,14870,16488,20475,9.0,6.0,5.3,PH140100000
...,...,...,...,...,...,...,...,...
82,Basilan,15009,18818,18648,13.1,42.4,23.9,PH150700000
83,Lanao del Sur,17041,20396,20379,48.7,38.3,0.4,PH153600000
84,Maguindanao,14276,17739,17710,24.4,20.2,12.4,PH153800000
85,Sulu,16205,20340,22224,17.4,41.6,24.2,PH156600000
86,Tawi-tawi,12289,15028,18399,0.5,3.4,10.1,PH157000000